---
import { useTranslations } from "@/utils/i18n";
import Image from "astro/components/Image.astro";
import { getRelativeLocaleUrl } from "astro:i18n";
import flectoneChat from "../assets/chat/3.gif";
import flectoneMix from "../assets/mix/flectonemix.png";
import platforms from "../assets/platforms.svg";
import { Button } from "./ui/button";
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "./ui/card";

const currentLocale = Astro.currentLocale || "en";
const flectoneMixUrl = getRelativeLocaleUrl(currentLocale, "mix");
const flectoneChatUrl = getRelativeLocaleUrl(currentLocale, "chat");
const flectonePulseUrl = getRelativeLocaleUrl(currentLocale, "pulse");
const { t } = useTranslations(currentLocale as "en" | "ru");
---

<div class="max-w-screen-xl mx-auto pt-32">
  <header class="flex flex-col items-center">
    <h1>{t("header")} <span class="text-sky-500">Flectone</span></h1>
  </header>
  <div class="mx-auto max-w-screen-md">
    <div class="pt-12">
      <Card className="dark:bg-neutral-800/50">
        <CardHeader>
          <div class="flex items-center justify-between relative">
            <div>
              <CardTitle
                ><h2>
                  <span class="text-sky-500">Flectone</span>Pulse
                </h2></CardTitle
              >
              <CardDescription>
                <p>{t("pulse-description")}</p>
              </CardDescription>
            </div>
            <Image
              class="hidden md:block pt-14 lg:absolute md:absolute right-0 lg:w-40 md:w-36 w-28"
              src={platforms}
              alt="platform logo"
              quality={100}
            />
          </div>
        </CardHeader>
        <CardFooter>
          <a href={flectonePulseUrl}>
            <Button className="bg-sky-600 hover:bg-sky-700"
              ><span class="text-white">{t("pulse-button")}</span></Button
            ></a
          >
        </CardFooter>
      </Card>
      <div class="pt-6">
        <div class="flex flex-col lg:flex-row gap-6">
          <Card className="lg:w-1/2 dark:bg-neutral-800/50">
            <a href={flectoneMixUrl} rel="noopener noreferrer"
              ><CardHeader>
                <CardTitle><h2>FlectoneMix</h2></CardTitle>
                <CardDescription
                  ><p>
                    {t("mix-description")}
                  </p></CardDescription
                >
              </CardHeader>
              <CardContent>
                <Image
                  class="rounded-lg"
                  src={flectoneMix}
                  alt="flectone mix logo"
                />
              </CardContent></a
            >
          </Card>
          <Card className="lg:w-1/2 dark:bg-neutral-800/50">
            <a href={flectoneChatUrl} rel="noopener noreferrer"
              ><CardHeader>
                <CardTitle><h2>FlectoneChat</h2></CardTitle>
                <CardDescription
                  ><p>
                    {t("chat-description")}
                  </p></CardDescription
                >
              </CardHeader>
              <CardContent>
                <Image
                  class="rounded-lg w-full"
                  src={flectoneChat}
                  alt="flectone chat logo"
                  quality={100}
                />
              </CardContent></a
            >
          </Card>
        </div>
      </div>
    </div>
  </div>
</div>
